html {
    height: 100;
    background-image: url("./images/background3.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body{
	text-align: center;
}

img{
	size: 40%;
}
.column {
	flex: 50%;
	padding: 30px;
}

.row{
	display: flex;
}

.main{
    position: fixed;
    top: 95%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #555;
    color: white;
    font-size: 42px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}